.navbar .navbar-collapse  .navbar-brand  {
    width: 100%;
    text-align: center;
}

.footer {
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0;
}

.jumbotron {
    border-radius: 0;
}